.profilePage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: transparent;
}
.mainBlock {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 1px solid #fff;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  background-color: inherit;
}
.desc {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  background-color: inherit;
}
.nameWrapper {
  width: 40%;
}
.avatarWrapper {
  width: 10%;
}
.logout {
  width: 40vw;
  height: 40px;
  border: 2px var(--grey-200) solid;
  border-radius: 10px;
  background: darkred;
  justify-self: center;
  align-self: center;
}
