.container {
	position: absolute;
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.scanner {
	border: none;
	border-radius: 20px;
	width: min(60vw, 60vh) !important;
}
.container svg {
	display: none;
}
