.wrapper {
    padding: 10px;
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
