.profilePage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: transparent;
  margin-bottom: 80px;
  padding-bottom: 80px;
  min-height: 100vh;
}
.profile {
  text-align: center;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  background-color: inherit;
}
.desc {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  background-color: inherit;
}
.logout {
  width: 100vw;
  height: 400px;
  border: 2px var(--grey-200) solid;
  border-radius: 10px;
  background: darkred;
  justify-self: center;
  align-self: center;
}
