.menu {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 20px 20px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
}
.link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  font-size: 100%;
  text-align: center;
}
