.wrapper {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  border: 1px white solid;
}
