@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --light: #efe5e5;
  --extra-light: #eeeeee;
  --dark: #131315;
  --grey-400: #2c2c2e;
  --grey-300: #323237;
  --grey-200: #4d4d51;
  --grey-100: #e6e8e9;
  --grey-linear: linear-gradient(#c4c4c4, #5e5e5e);
  --text-slate: #adadad;
  --stolzl: "Stolzl", "nunito";
  --unbounded: "Unbounded";
  --pink: #ea53c2;
  --green: #53ea63;
  --white: #e9e9e9;
  --select-color: #48484e;
}
[data-theme="light"] {
  --bg-color: var(--light);
  --text-color: var(--dark);
}
[data-theme="dark"] {
  --bg-color: var(--dark);
  --text-color: #fff;
}
* {
  padding: 0;
  background: #1e1e1e;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, monospace;
}
