.container {
    background-color: #131315;
    color: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}
.title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.name {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}